/home/andrea/Desktop/Datasets/tum/stl015_total.txt
/home/andrea/workspaceC/semanticMeshReconstruction/Results/Semantic_DTU15_1e-15_5e-14_0.083_2000_5_3_16/Mesh_Semantic.off
/home/andrea/Desktop/Datasets/tum/scan15/calib/   #std::string pathOutOrSfM;
 #
 #
20 #initframe
49 #fine




















/home/andrea/workspaceC/semanticMeshReconstruction/Results/NonSemantic_DTU15_1e-15_5e-14_0.083_2000_5_3_16/DTU15_resizedculo.off
/home/andrea/workspaceC/semanticMeshReconstruction/Results/NonSemantic_DTU15_1e-15_5e-14_0.083_2000_5_3_16/Mesh_Semantic.off
/home/andrea/workspaceC/semanticMeshReconstruction/Results/Semantic_DTU15_1e-15_5e-14_0.083_2000_5_3_16/Mesh_Semantic.off