/home/andrea/Desktop/Datasets/EpflDataset/fountain.ply #/home/andrea/workspaceC/reconstructionEvaluator/depthFountainGT.txt
/home/andrea/workspaceC/semanticMeshReconstruction/Results/NonSemantic_Fountain_4e-11_2e-17_0.083_60_20_3_16/CurMesh79.off
/home/andrea/Desktop/Datasets/EpflDataset/fountain_dense/camerasKE/  #std::string pathOutOrSfM;
 #
 #
5 #initframe
6 #fine