6
/home/andrea/Desktop/Datasets/EpflDataset/fountain0.off 
/home/andrea/Desktop/Datasets/EpflDataset/fountain1.off 
/home/andrea/Desktop/Datasets/EpflDataset/fountain2.off 
/home/andrea/Desktop/Datasets/EpflDataset/fountain3.off 
/home/andrea/Desktop/Datasets/EpflDataset/fountain4.off 
/home/andrea/Desktop/Datasets/EpflDataset/fountain5.off 
/home/andrea/workspaceC/incrementalMVS/fountainN.off
/home/andrea/Desktop/Datasets/EpflDataset/fountain_dense/camerasKE/  #std::string pathOutOrSfM;
 #
 #
0 #initframe
11 #fine