2
/home/andrea/Desktop/Datasets/EpflDataset/fountain1.off #/home/andrea/workspaceC/reconstructionEvaluator/depthFountainGT.txt
/home/andrea/Desktop/Datasets/EpflDataset/fountain2.off #/home/andrea/workspaceC/reconstructionEvaluator/depthFountainGT.txt
/home/andrea/workspaceC/incrementalMVS/FountainInitOK.off
/home/andrea/Desktop/Datasets/EpflDataset/fountain_dense/camerasKE/  #std::string pathOutOrSfM;
 #
 #
5 #initframe
6 #fine