/home/andrea/Desktop/Datasets/KITTI/dataset/sequences/00/
/home/andrea/workspaceC/incremental_dense_reconstruction/Results/Incremental_00_weight100_1001_50_50_1_3_0.1_3_0.2_0.1_5_10_3.5e-15_2.5e-07/merged_300.off
/home/andrea/Desktop/Datasets/KITTI/dataset/openmvg/00/out_Incremental_Reconstruction_1000/sfm_data.json  #std::string pathOutOrSfM;
 #
/home/andrea/Desktop/Datasets/KITTI/dataset/poses/00.txt #
20 #initframe
1000 #fine