/home/andrea/Desktop/Datasets/KITTI/dataset/sequences/04/
/home/andrea/workspaceC/incremental_dense_reconstruction/Results/Incremental_04_weight40_272_40_40_1_3_0.09_3_0.2_1_5_10_3.4e-15_4e-07/Mesh_manifold_new_count_280.off
/home/andrea/Desktop/Datasets/KITTI/dataset/openmvg/04/out_Incremental_Reconstruction/sfm_data.json  #std::string pathOutOrSfM;
 #
/home/andrea/Desktop/Datasets/KITTI/dataset/poses/04.txt #
50 #initframe
100 #fine