/home/andrea/Desktop/Datasets/KITTI/2011_09_26/2011_09_26_drive_0104_sync/
/home/andrea/Desktop/meshes_leverage_semantics/sequenza_0104/original/manifold_final2.off
/home/andrea/Desktop/meshes_leverage_semantics/sequenza_0104/incremental/semantically_simplied_sfm_data.json   #std::string pathOutOrSfM;
 #
 #
30 #initframe
450 #fine
0.532745 #baseline(m)