/home/andrea/Desktop/Datasets/KITTI/dataset/sequences/04/
/home/andrea/workspaceC/incremental_dense_reconstruction/Results/Incremental_04_weight40_272_40_40_1_3_0.07_3_0.2_1_5_25_3.35e-15_4.2e-07/Mesh_280.off
/home/andrea/Desktop/Datasets/KITTI/dataset/openmvg/04/out_Incremental_Reconstruction/sfm_data.json  #std::string pathOutOrSfM;
 #
/home/andrea/Desktop/Datasets/KITTI/dataset/poses/04.txt #
20 #initframe
250 #fine
 #baseline